*{
    box-sizing:border-box;
}

body{
    margin: 0;
}

header{
    background-color:aliceblue;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color:black;
}

aside{
    width: 15%;
    float: left;
    padding: 10px;
}

section{
    width: 15%;
    float: left;
    padding: 10px;
}

article{
    border: 2px solid;
    width: 40%;
    float: right;
    padding: 10px;
}
 footer{
    display: block;
    clear: both;
    background-color:aqua;
    text-align: center;
    padding: 25px;
 }
    @media screen and (max-width:600px) {
        aside, section, article{
            width: 100px;
        }
    }